<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Area</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/tour.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header th:replace="~{layouts/header :: header}"></header>
<div>
    <div>
        <nav>
            <a th:each="topic : ${category}"
               th:href="@{'/api/area-based/' + ${topic.name().replace('_','-').toLowerCase()}}"
               th:text="${topic.contentName}"
               onclick="setContentType(${topic.name().replace('_','-').toLowerCase()});
                        takeContentData();"></a>
        </nav>
    </div>
    <div class="categoryListWrap">
    </div> <!-- 카테고리 목록을 표시할 컨테이너 -->
</div>


<div class="tourist-container-wrapper">
    <div id="touristContainer" class="tourist-container"></div>
    <div class="pagination"></div>
</div>

<script>

    //CSRF
    let csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    let csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    let currentCategory = {

        groupId : null,
        categoryLv : null,
        categoryDetailOr : null,
        categoryApiCode : null,
        categoryParentLv : null,
    };


    //대분류
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/area1')
            .then(response => response.json())
            .then(data => {
                let category = "";
                category += '<ul class="categoryList" style="position: relative;" onclick="getCategory_List(event); handleAreaBasedAPIClick(event);">';
                data.forEach(function (item) {
                    category += `<li><a href="#" data-set='${JSON.stringify(item)}'>${item.categoryDetailName}</a></li>`;
                });
                category += '</ul>';
                document.querySelector(".categoryListWrap").innerHTML += category;

                //이벤트 리스너 추가
                document.querySelector(".categoryList").addEventListener('click', getCategory_List);
            })
            .catch(err => {
                alert('카테고리 조회에 문제가 생겼습니다. 관리자에게 문의해주세요.');
                console.error('Error:', err);
            });
    });

    //대분류 클릭시 중분류 생성
    function getCategory_List(event) {
        event.preventDefault(); // 고유 이벤트 중지
        if (event.target.tagName !== 'A') return; // 태그 검증 태그 호출은 대문자라서

        let obj = JSON.parse(event.target.getAttribute('data-set')); // 데이터셋을 가져옴
        Object.assign(currentCategory, obj)

        //대분류
        //첫클릭시는 대분류 중분류 클릭하면 중분류 내용으로 바뀜
        console.log("Clicked category:", currentCategory);

        // 토글 색 처리
        let categoryList = event.currentTarget;
        Array.from(categoryList.querySelectorAll('a')).forEach(function (a) {
            a.classList.remove('sub_menu_select');
        });
        event.target.classList.add('sub_menu_select');

        // 태그 처리
        if (obj.categoryLv == 1) {
            removeSubCategories(); // 이전 카테고리 삭제
            fetchSubCategories();
        } else {
            removeSubCategories();
            handleAreaBasedAPIClick();
        }
    }

    function fetchSubCategories() {
        fetch(`/api/area2`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify(currentCategory)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log("카테고리 아이들 : " + data);
                if (data.length > 0) {
                    createSubCategories(data);
                }
            })
            .catch(err => {
                alert('카테고리 조회에 실패했습니다. 관리자에게 문의해주세요');
                console.error('Error:', err);
            });
    }

    // 다음 카테고리 생성 함수 수정
    ///onclick event 제거함
    function createSubCategories(data) {
        let category = '<ul class="categoryList subCategoryList">';
        data.forEach(function (result) {
            category += `<li><a href="#" data-set='${JSON.stringify(result)}' onclick="handleAreaBasedAPIClick(event)">${result.categoryDetailName}</a></li>`;
        });
        category += '</ul>';

        document.querySelector('.categoryListWrap').appendChild(document.createRange().createContextualFragment(category));
        document.querySelector('.subCategoryList').addEventListener('click', getCategory_List);
    }

    // 이전 중분류 삭제 함수
    function removeSubCategories() {
        let subCategories = document.querySelectorAll('.subCategoryList');
        subCategories.forEach(function (subCategory) {
            subCategory.remove();
        });
    }

    //공공데이터 API를 호출
    function handleAreaBasedAPIClick(page) {
        fetch('/api/areabase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify({
                ...currentCategory,
                pageNo: page,
                numOfRows: 20,
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log('AreaBased API response:', data);
                createTouristItems(data);
                createPagination(data.pageDTO);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function createTouristItems(responseData) {
        const container = document.getElementById('touristContainer');
        container.innerHTML = ''; // 기존 내용을 비움

        const data = responseData.item; // 응답 데이터의 item 배열을 가져옴

        data.forEach(tour => {
            const item = document.createElement('div');
            item.className = 'tourist-item';

            const link = document.createElement('a');
            link.href = `/api/${tour.contenttypeid}/detail-info/${tour.contentid}`;

            const img = document.createElement('img');
            img.src = tour.firstimage ? tour.firstimage : '/images/default.jpg';
            img.alt = 'Image';
            link.appendChild(img);

            const title = document.createElement('h2');
            title.textContent = tour.title;
            link.appendChild(title);

            const address = document.createElement('p');
            address.textContent = `주소: ${tour.addr1} ${tour.addr2}`;
            link.appendChild(address);

            item.appendChild(link);

            const buttonsDiv = document.createElement('div');
            buttonsDiv.className = 'buttons';

            const likeButton = document.createElement('button');
            likeButton.className = 'button';
            likeButton.textContent = '좋아요';
            likeButton.onclick = () => like(tour.contentid);
            buttonsDiv.appendChild(likeButton);

            const saveButton = document.createElement('button');
            saveButton.className = 'button';
            saveButton.textContent = '저장하기';
            saveButton.onclick = () => save(tour.contentid);
            buttonsDiv.appendChild(saveButton);

            item.appendChild(buttonsDiv);

            container.appendChild(item);
        });
    }

    function createPagination(pageDTO) {
        const paginationElement = document.querySelector('.pagination');

        paginationElement.innerHTML = '';

        if(pageDTO.prev) {
            paginationElement.appendChild(createPageLink('이전', pageDTO.start - 1));
        }
        for(let i = pageDTO.start; i <= pageDTO.end; i++) {
            paginationElement.appendChild(createPageLink(i, i, i === pageDTO.page));
        }

        if(pageDTO.next) {
            paginationElement.appendChild(createPageLink('다음', pageDTO.end + 1));
        }

    }

    function createPageLink(text, page, isActive = false) {
        const link = document.createElement('a');
        link.href = '#';
        link.textContent = text;
        if (isActive) {
            link.className = 'active';
        }
        link.addEventListener('click', (e) => {
            e.preventDefault();
            console.log(page);
            handleAreaBasedAPIClick(page);
        });

        return link;
    }

    function like(contentId) {
        console.log('좋아요:', contentId);
        // 좋아요 로직 추가
    }

    function save(contentId) {
        console.log('저장하기:', contentId);

        fetch('/place/save', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify({contentId: contentId})
        })
            .then(response => {
                console.log(response.status)
                if (!response.ok) {
                    if (response.status === 401) {
                        throw new Error('로그인이 필요합니다.');
                    } else if (response.status === 403) {
                        throw new Error('권한이 없습니다.');
                    } else if (response.status === 500) {
                        throw new Error('서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
                    } else {
                        throw new Error(`오류가 발생했습니다. 상태 코드: ${response.status}`);
                    }
                }
                return response.json()
            })
            .then(data => {
                if (data) {
                    console.log('장소 저장 성공:', data);
                    alert('장소가 성공적으로 저장되었습니다.');
                } else {
                    console.log('장소 저장 실패:', data);
                    alert('장소 저장에 실패했습니다.');
                }
            })
            .catch(error => {
                console.error('오류 발생:', error);
                console.error('오류 메시지:', error.message);
                alert('저장하려면 로그인을 해주세요');
            });
    }

    let selectedContentType = '';

    function setContentType(contentType) {
        selectedContentType = contentType;
        console.log(selectedContentType);
    }

    function takeContentData() {
        const url = document.querySelector('a[href*="api/area-based"]');
        url.href = `/api/area-based/${selectedContentType}`;

        fetch(url.href, {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                createTouristItems(data);
            })
            .catch((error) => console.error('Error:', error));
    }
</script>

</body>
</html>