<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
</head>
<body>

<!-- Swiper -->
<!--<div class="swiper-container">-->
<!--    <div class="swiper-wrapper">-->
<!--        &lt;!&ndash; Your dynamic posts here. Example static post: &ndash;&gt;-->
<!--&lt;!&ndash;        <div class="swiper-slide"><img src="" alt="Post 1"/></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="swiper-slide"><img src="" alt="Post 2"/></div>&ndash;&gt;-->
<!--        &lt;!&ndash; Add more slides as needed &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Add Pagination &ndash;&gt;-->
<!--    <div class="swiper-pagination"></div>-->
<!--    &lt;!&ndash; Add Navigation &ndash;&gt;-->
<!--    <div class="swiper-button-prev"></div>-->
<!--    <div class="swiper-button-next"></div>-->

<!--</div>-->



<div>
    <h3 th:text="${id}"></h3>
    <h3 th:text="${role}"></h3>
    <div><a th:href="@{/login}">로그인</a></div>
    <div><a th:href="@{/signup}">회원가입</a></div>
    <nav>
    <ul>
        <li><a th:href="@{/message}">쪽지</a></li>
        <li><a th:href="@{/board/{board_category}(board_category=${'tc'})}">동행게시판</a></li>
        <li><a th:href="@{/board/{board_category}(board_category=${'tl'})}">여행로그게시판</a></li>
    </ul>
    </nav>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        // If you need pagination
        pagination: {
            el: '.swiper-pagination',
        },
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

</body>
</html>