<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
<form action="createPost.html" th:action method="post">
    <div>
        <input type="hidden" th:value="${board_category}" name="board_category">
    </div>
    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
    </div>
    <div>
        <input type="hidden" th:value="${#authentication.principal.user.userNickname}" name="author">
    </div>
    <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content"></textarea>
    </div>
    <button type="submit">글 저장</button>
    <button
            th:onclick="|location.href='@{/board/{board_category}(board_category=${board_category})}'|"
            type="button">취소하기</button>
</form>
</body>
</html>