<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
</head>
<body>

<h1 th:text="${post.title}"></h1>
<p th:text="${post.author}"><b>작성자:</b></p>
<p th:text="${#temporals.format(post.regdate, 'yyyy-MM-dd HH:mm')}"><b>작성일:</b></p>
<div th:text="${post.content}"></div>
    <div th:text="${post.userId}"></div>
<div>
    <button
            th:onclick="|location.href='@{/board/{board_category}(board_category=${post.boardCategory})}'|"
            type="button">목록</button>
    <div th:if="${#authentication.name == post.userId}">
        <button
                th:onclick="|location.href='@{/board/{postbid}/update(postbid=${post.bid})}'|"
                type="button">수정</button>
        <button
                th:onclick="|location.href='@{/board/{postbid}/delete(postbid=${post.bid})}'|"
                type="button">삭제</button>
    </div>
</div>
</body>
<script th:inline="javascript">

</script>
</html>
