<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        #toast {
            visibility: hidden;
            max-width: 50%;
            margin: 0 auto;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
            transform: translateX(-50%);
        }

        #toast.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
    </style>
    <script th:inline="javascript">
        var boardCategory = /*[[${post.boardCategory}]]*/ 'defaultCategory';
        var postBid = /*[[${post.bid}]]*/ 'defaultBid';
        /*<![CDATA[*/
        function confirmAction(action, url) {
            if (confirm(action + ' 하시겠습니까?')) {
                location.href = url;
            }
        }

        function openMessageWindow() {
            const url = /*[[@{/message/messagewindows}]]*/ '/sendmessagepage';
            const receiver = /*[[${post.userId}]]*/ 'defaultReceiver';
            const fullUrl = `${url}?receiver=${receiver}`;
            window.open(fullUrl, '쪽지 보내기', 'width=600,height=400');
        }
        /*]]>*/

        function showUpdateForm(commentId) {
            console.log("댓글 번호: ", commentId)
            let updateFormContainer = document.getElementById('update-form-' + commentId);

            // 이미 폼이 표시되어 있다면 숨김
            if (updateFormContainer.style.display === 'block') {
                updateFormContainer.style.display = 'none';
                updateFormContainer.innerHTML = '';
                return;
            }

            // 기존에 표시된 다른 폼을 숨김
            let forms = document.querySelectorAll('[id^="update-form-"]');
            forms.forEach(function (form) {
                form.style.display = 'none';
                form.innerHTML = '';
            });

            let commentContent = document.getElementById('comment-content-' + commentId).innerText;
            let updateFormHtml = `
        <form>
            <input type="hidden" name="commentId" value="${commentId}">
            <textarea name="comment" id="update-comment-${commentId}">${commentContent}</textarea>
            <button type="button" onclick="updateComment(${commentId})">저장</button>
            <button type="button" onclick="cancelEdit(${commentId})">취소</button>
        </form>
    `;
            updateFormContainer.innerHTML = updateFormHtml;
            updateFormContainer.style.display = 'block';
        }

        function updateComment(commentId) {
            let newContent = document.getElementById('update-comment-' + commentId).value;
            let csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
            let csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");

            fetch(`/board/${boardCategory}/readpost/${postBid}/comment/${commentId}/update`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify({
                    commentId: commentId,
                    comment: newContent
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('서버 응답이 실패했습니다.');
                }
            }).then(data => {
                let commentElement = document.getElementById('comment-content-' + commentId);
                commentElement.innerText = data.comment; // 서버에서 반환한 업데이트된 댓글 내용
                cancelEdit(commentId);
            })
            .catch(error => {
                alert('댓글 수정에 실패했습니다: ' + error.message);
            });
        }

        function cancelEdit(commentId) {// 서버에서 반환한 업데이트된 댓글 내용
            let updateFormContainer = document.getElementById('update-form-' + commentId);
            updateFormContainer.style.display = 'none';
            updateFormContainer.innerHTML = '';
        }
    </script>
</head>
<body>
<div th:replace="~{layouts/layout :: menu}"></div>

<h1 th:text="${post.title}"></h1>
<input type="hidden" th:value="${post.bid}">
<p><b>작성자:</b><span th:text="${post.author}"></span></p>
<p><b>작성일:</b><span th:text="${#temporals.format(post.regdate, 'yyyy-MM-dd HH:mm')}"></span></p>
<div th:text="${post.content}"></div>
<div th:text="${post.userId}" style="display: none;"></div>
<div>
    <button
            th:onclick="|location.href='@{/board/{board_category}(board_category=${post.boardCategory})}'|"
            type="button">목록</button>
    <button type="button" onclick="openMessageWindow()" th:if="${post.boardCategory == 'tc'}">쪽지 보내기</button>
    <div th:if="${#authentication.name == post.userId}">
        <button
                th:onclick="|confirmAction('수정', '@{/board/{board_category}/{postbid}/update(postbid=${post.bid}, board_category=${post.boardCategory})}')|"
                type="button">수정</button>
        <button
                th:onclick="|confirmAction('삭제', '@{/board/{board_category}/{postbid}/delete(postbid=${post.bid}, board_category=${post.boardCategory})}')|"
                type="button">삭제</button>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <div th:if="${formType == 'save'}" th:replace="fragments/save-comment-form :: commentForm(@{/board/{board_category}/readpost/{postbid}/comment/save(postbid=${post.bid}, board_category=${post.boardCategory})},
     ${#authentication.name}, ${post.bid}, ${#authentication.principal.user.userNickname}, '')">
    </div>
</div>
<div sec:authorize="!isAuthenticated()">
    <p>댓글을 등록하려면 로그인 해주세요.</p>
</div>

<div id="comment-list">
    <div th:each="comment : ${comments}">
        <input type="hidden" th:value="${comment.commentId}" id="comment-[[${comment.commentId}]]">
        <p th:text="${comment.commentId}"></p>
        <p th:text="${comment.author}"></p>
        <p th:text="${comment.comment}" th:id="'comment-content-' + ${comment.commentId}"></p>
        <p th:text="${#temporals.format(comment.regdate, 'yyyy-MM-dd HH:mm')}"></p>
        <!-- 댓글 수정 및 삭제 버튼들 -->
        <div th:if="${#authentication.name == comment.userId}">
            <button th:onclick="'showUpdateForm(' + ${comment.commentId} + ')'"
                    type="button">수정</button>
            <button th:onclick="|confirmAction('삭제', '@{/board/{board_category}/readpost/{postbid}/comment/{commentId}/delete(postbid=${post.bid}, board_category=${post.boardCategory}, commentId=${comment.commentId})}')|"
                    type="button">삭제</button>
        </div>
        <div th:id="'update-form-' + ${comment.commentId}" style="display:none;"></div>
    </div>
</div>

</body>
</html>
