<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<header th:replace="~{layouts/header :: header}"></header>

<form action="updatePost.html" th:action th:object="${post}" method="post">

    <div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </div>
    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" placeholder="제목을 입력하세요" th:field="*{title}"
        th:errorclass="field-error" class="form-control">
        <div class="field-error" th:errors="*{title}">
            제목을 입력하세요.
        </div>
    </div>

    <div>
        <label for="regdate">작성일:</label>
        <input type="text" id="regdate" name="regdate" th:value="${#temporals.format(post.regdate, 'yyyy-MM-dd HH:mm:ss')}" readonly class="form-control">
    </div>

    <div>
        <label for="content">내용:</label>
        <textarea id="content" th:field="*{content}"
        th:errorclass="field-error" class="form-control"
        placeholder="내용을 작성해주세요">
        </textarea>
        <div class="field-error" th:errors="*{content}">
            내용을 입력하세요
        </div>
    </div>
    <button type="submit">글 저장</button>
    <button
            th:onclick="|location.href='@{/board/{board_category}(board_category=${post.boardCategory})}'|"
            type="button">취소하기</button>
</form>
</body>
</html>