.comment-form {
    display: flex;
    align-items: flex-start;
    gap: 10px;

}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* 크기 조절 제거 */
    flex: 1;
    min-height: 100px; /* 최소 높이 설정 */
}

.comment-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px; /* 텍스트 영역과 맞추기 위해 높이 설정 */
}

.comment-form button:hover {
    background-color: #0056b3;
}