body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.tour-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.tour-nav {
    background-color: #333;
    overflow: hidden;
}

.tour-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tour-nav a:hover {
    background-color: #ddd;
    color: black;
}

.tourist-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 300px; /* 컨테이너의 최소 높이 설정 */
}

.categoryListWrap {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    position: absolute;
    top: 100px; /* 네비게이션 아래로 이동 */
    left: 20px;
    z-index: 1000;
}

.categoryList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.categoryList li {
    position: relative;
}

.categoryList a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

.categoryList a:hover,
.categoryList a.sub_menu_select {
    background-color: #007bff;
    color: #fff;
}

.subCategoryList {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.tourist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    flex-grow: 1;
    margin: 15px;
}

.tourist-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.tourist-item:hover {
    transform: scale(1.05);
}

.tourist-item a img {
    width: 100%;
    height: 190px;
    border-bottom: 1px solid #ccc;
}

.tourist-item a h2 {
    color: #007bff;
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}

.tourist-item p {
    margin: 5px 0;
    text-align: center;
    font-size: 0.9em;
    padding-left: 5px;
    padding-right: 5px;
}

.tourist-item a {
    text-decoration: none;
    color: inherit;
    height: 283px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #0056b3;
}

.no-locations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* 필요에 따라 조정 */
    text-align: center;
    font-size: 1.2em; /* 필요에 따라 조정 */
    color: #333; /* 필요에 따라 조정 */
}