<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>게시글 작성</h1>
<form>
    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="author">작성자:</label>
        <input type="text" id="author" name="author">
    </div>
    <div>
        <label for="regdate">날짜:</label>
        <textarea id="regdate" name="regdate"></textarea>
    </div>
    <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content"></textarea>
    </div>
    <button type="submit">게시글 작성</button>
</form>
</body>
</html>