<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>

</head>
<body class="gradient-custom">

                <h2 class="text-white">SIGN UP</h2>
                <p class="text-white-50 mt-2 mb-5">서비스 사용을 위한 회원 가입</p>

                <div>
                    <form th:action="@{/signup}" method="POST">
                        <div>
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        </div>
                        <div>
                            <label>아이디</label>
                            <input type="text" name="userId">
                        </div>
                        <div>
                            <label>비밀번호</label>
                            <input type="password" name="userPassword">
                        </div>
<!--                        <div>
                            <label>비밀번호 확인</label>
                            <input type="password" name="userPassword">
                        </div>-->
                        <div>
                            <label>전화번호</label>
                            <input type="text" name="userPhone">
                        </div>
                        <div>
                            <label>이메일</label>
                            <input type="text" name="userEmail">
                        </div>
                        <div>
                            <label>닉네임(이름)</label>
                            <input type="text" name="userNickname">
                        </div>

                        <button type="submit" >Submit</button>
                    </form>
                </div>
</body>
</html>