<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kotu.koreatourism.mapper.BoardMapper">

    <insert id="createPost" useGeneratedKeys="true" keyProperty="bid">
        insert into
            POST_TB
            (board_category, title, author, content, area, user_id)
        values (#{boardCategory},
                #{title},
                #{author},
                #{content},
                #{area},
                #{userId}
               )
    </insert>

    <select id="findPost" resultType="Board">
        select bid, board_category, title, regdate, author, content, viewcount, user_id
        from POST_TB
        where bid = #{bid}
    </select>

    <update id="updatePost">
        update POST_TB
        set
            title = #{updateParam.title},
            content = #{updateParam.content},
            area = #{updateParam.area}
        where bid = #{bid}
    </update>

    <delete id="deletePost">
        delete from POST_TB
        where bid = #{bid}
    </delete>

    <select id="findAllPost">
        select bid, title, regdate, author, content, viewcount
        from POST_TB
        where board_category = #{boardCategory}
        <if test="cri.searchType != null and cri.searchKeyword != null and cri.searchKeyword != ''">
            <choose>
                <when test="cri.searchType == 'title'">
                    AND title LIKE CONCAT('%', #{cri.searchKeyword}, '%')
                </when>
                <when test="cri.searchType == 'content'">
                    AND content LIKE CONCAT('%', #{cri.searchKeyword}, '%')
                </when>
                <when test="cri.searchType == 'author'">
                    AND author LIKE CONCAT('%', #{cri.searchKeyword}, '%')
                </when>
            </choose>
        </if>
        order by regdate desc
        limit #{cri.pageStart}, #{cri.amount};
    </select>

    <select id="findTotalPost">
        select count(*) as total
        from POST_TB
        where board_category = #{boardCategory}
        <if test="cri.searchType != null and cri.searchKeyword != null and cri.searchKeyword != ''">
            <choose>
                <when test="cri.searchType == 'title'">
                    AND title LIKE CONCAT('%', #{cri.searchKeyword}, '%')
                </when>
                <when test="cri.searchType == 'content'">
                    AND content LIKE CONCAT('%', #{cri.searchKeyword}, '%')
                </when>
                <when test="cri.searchType == 'author'">
                    AND author LIKE CONCAT('%', #{cri.searchKeyword}, '%')
                </when>
            </choose>
        </if>
    </select>

    <select id="findMyAllPost">
        select * from
        POST_TB
        where author = #{userId};
    </select>
</mapper>