<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kotu.koreatourism.mapper.BoardMapper">

    <insert id="createPost" useGeneratedKeys="true" keyProperty="bid">
        insert into
            POST_TB
            (board_category, title, author, content, area)
        values (#{boardCategory},
                #{title},
                #{author},
                #{content},
                #{area})
    </insert>

    <select id="findPost" resultType="Board">
        select bid, board_category, title, regdate, updatedate, author, content, viewcount
        from POST_TB
        where bid = #{bid}
    </select>

    <update id="updatePost">
        update POST_TB
        set
            title = #{updateParam.title},
            content = #{updateParam.content},
            area = #{updateParam.area}
        where bid = #{bid}
    </update>

    <delete id="deletePost">
        delete from POST_TB
        where bid = #{bid}
    </delete>

    <select id="findAllPost">
        select bid, title, regdate, updatedate, author, content, viewcount
        from POST_TB
        <where>
            <choose>
                <when test="boardCategory == 'tc'">
                   board_category = 'tc';
                </when>
                <when test="boardCategory == 'tl'">
                   board_category = 'tl';
                </when>
            </choose>
        </where>
    </select>
</mapper>