<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Write Message</title>
    <link rel="stylesheet" th:href="@{/css/message-style.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function() {
            // 성공 메시지 처리
            var successMessage = /*[[${successMessage != null ? '"' + successMessage + '"' : '""'}]]*/ "";
            var errorMessage = /*[[${errorMessage != null ? '"' + errorMessage + '"' : '""'}]]*/ "";

            console.log("Success Message:", successMessage);
            console.log("Error Message:", errorMessage);

            if (successMessage !== "") {
                showToast(successMessage);
                setTimeout(function() {
                    window.close();
                }, 3000); // 3초 후에 창 닫기
            }

            // 오류 메시지 처리
            if (errorMessage !== "") {
                showToast(errorMessage);
            }
        });

        function showToast(message) {
            var toast = document.getElementById("toast");
            toast.innerText = message;
            toast.className = "show";
            setTimeout(function() {
                toast.className = toast.className.replace("show", "");
            }, 3000); // 3초 후에 알림 사라짐
        }
        /*]]>*/
    </script>

</head>
<body>
<div>
    <nav>
        <ul>
            <li><a th:href="@{/message/createmessage}">쪽지 쓰기</a></li>
            <li><a th:href="@{/message/received}">받은 쪽지함</a></li>
            <li><a th:href="@{/message/sent}">보낸 쪽지함</a></li>
        </ul>
    </nav>
</div>

<form id="messageForm" th:action="@{/message/sendmessage}" method="post">
    <div>
        <input type="hidden" th:value="${#authentication.principal.user.userId}" name="sentUser">
        <input type="hidden" th:value="Sent" name="sentReceivedIdentifier">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" placeholder="제목을 입력하세요" th:field="*{message.title}">
    </div>
    <div>
        <label for="receivedUser">받는사람 </label>
        <input type="text" id="receivedUser" name="receivedUser" th:value="${#authentication.principal.user.userNickname + '(' + receiver + ')'}" readonly>
    </div>
    <div>
        <label for="messageContent">내용 </label>
        <textarea id="messageContent" name="messageContent" th:field="*{messageContent.messageContent}"></textarea>
    </div>
    <button type="submit">보내기</button>
</form>
</body>
</html>
