<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Messages</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/message-style.css}">

</head>
<header th:replace="~{layouts/header :: header}"></header>
<div class="main-container">
    <div style="display: flex;">
        <div>
            <nav>
                <ul>
                    <li><a th:href="@{/message/createmessage}">쪽지 쓰기</a></li>
                    <li><a th:href="@{/message/received}">받은 쪽지함</a></li>
                    <li><a th:href="@{/message/sent}">보낸 쪽지함</a></li>
                    <li><a href="#saved">쪽지 보관함</a></li>
                </ul>
            </nav>
        </div>

        <body>
        <div class="message-container">
            <div class="message-title" th:text="${content.title}"></div>
            <div><input type="hidden" th:value="${content.sentReceivedIdentifier}" th:name="srIdentifier"></div>
            <div class="message-info">
                <span th:text="${content.sentUser} + ' - '"></span>
                <span th:text="${content.sentDate != null ? #temporals.format(content.sentDate, 'yyyy-MM-dd HH:mm') : ''}"></span>
            </div>
            <div class="message-content" th:text="${content.messageContent}"></div>
        </div>
        </body>
        <div>
            <button
                    th:onclick="|location.href='@{/message/reply}'|"
                    type="button">답장
            </button>
            <button
                    th:onclick="|location.href='@{/message/delete/{messageId}(messageId=${content.messageId})}'|"
                    type="button">삭제
            </button>
        </div>
    </div>
</div>
</html>
