<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" th:href="@{/css/message-style.css}">
</head>
<body>
<header th:replace="~{layouts/layout :: header}"></header>
<div style="display: flex;">
    <div class="nav-container">
        <nav>
            <ul class="message-nav-links">
                <li><a th:href="@{/message/createmessage}">쪽지 쓰기</a></li>
                <li><a th:href="@{/message/received}">받은 쪽지함</a></li>
                <li><a th:href="@{/message/sent}">보낸 쪽지함</a></li>
                <li><a href="#saved">쪽지 보관함</a></li>
            </ul>
        </nav>
    </div>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>보낸 사람</th>
                <th>제목</th>
                <th>받은날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="messages : ${receivedMessages}">
                <td><input type="checkbox" th:value="${messages.messageId}" name="messageId"></td>
                <td th:text="${messages.sentUser}"></td>
                <td><a th:href="@{/message/detail/{messageId}(messageId=${messages.messageId})}"
                       th:text="${messages.title}"></a></td>
                <td th:text="${messages.sentDate != null ? #temporals.format(messages.sentDate, 'yyyy-MM-dd HH:mm') : ''}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
